
    html,
     body {
      position: relative;
      height: 100%;
    }

    swiper-container {
        color: black;
    margin-top: 30px;
      width: 100%;
      height: 250px;
    /* margin: o auto; */
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit:cover;
    }

    button:hover{
background-color: rgba(0, 0, 255, 0.606);
    }




    @media (min-width: 768px){
        html,
        body {
         position: relative;
         height: 100%;
       }
   
       swiper-container {
           margin-right: 5%;
         width: 50%;
         height: 500px;
       }
   
       swiper-slide img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit:contain;
       }
    }
  